src/main/resources/Dieta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="Dieta"
    targetNamespace="http:/org.masterMWT.webAPI/Dieta.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http:/org.masterMWT.webAPI/Dieta.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http:/org.masterMWT.webAPI/Dieta.xsd1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema
            targetNamespace="http:/org.masterMWT.webAPI/Dieta.xsd1"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd1="http:/org.masterMWT.webAPI/Dieta.xsd1">
            <xsd:complexType name="TipoAlimento">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nome" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="descrizione" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="grassi" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="proteine" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="carboidrati" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TipoErrore">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="codice" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="messaggio" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ElementoErrore" type="xsd1:TipoErrore"/>
            <xsd:complexType name="TipoDieta">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nome" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ifo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="idUtente" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="dataInserimento" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="dataScadenza" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="kcal" type="xsd:int"/>
                    <xsd:element
                        maxOccurs="unbounded"
                        minOccurs="1"
                        name="alimenti"
                        type="xsd1:TipoAlimento"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetDietaPerUtenteResponse" type="xsd1:TipoDieta"/>
            <xsd:complexType name="TipoidUtente">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="idUtente" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetDietaPerUtenteRequest" type="xsd1:TipoidUtente"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MsgGetDietaPerUtenteRequest">
        <wsdl:part element="xsd1:GetDietaPerUtenteRequest" name="idUtente"/>
    </wsdl:message>
    <wsdl:message name="MSGErrore">
        <wsdl:part element="xsd1:ElementoErrore" name="errore"/>
    </wsdl:message>
    <wsdl:message name="MsgGetDietaPerUtenteResponse">
        <wsdl:part element="xsd1:GetDietaPerUtenteResponse" name="dieta"/>
    </wsdl:message>
    <wsdl:portType name="RepoWSInterface">
        <wsdl:operation name="GetDietaPerUtente">
            <wsdl:input message="tns:MsgGetDietaPerUtenteRequest"/>
            <wsdl:output message="tns:MsgGetDietaPerUtenteResponse"/>
            <wsdl:fault message="tns:MSGErrore" name="erroreGenerale"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RepoWSSOAP" type="tns:RepoWSInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDietaPerUtente">
            <soap:operation soapAction="RepoWSInterface#GetDietaPerUtente"/>
            <wsdl:input>
                <soap:body
                    namespace="http:/org.masterMWT.webAPI/repows/data"
                    parts="idUtente"
                    use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body
                    namespace="http:/org.masterMWT.webAPI/repows/data"
                    parts="dieta"
                    use="literal"/>
            </wsdl:output>
            <wsdl:fault name="erroreGenerale">
                <soap:fault name="erroreGenerale" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Dieta">
        <wsdl:port binding="tns:RepoWSSOAP" name="DietaPort">
            <soap:address location="http://localhost:8080/ccx/Dieta"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>