src/main/resources/wsdl/dieta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="dieta"
    targetNamespace="http://www.your-company.com/dieta.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.your-company.com/dieta.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://www.your-company.com/dieta.xsd1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.your-company.com/dieta.xsd1"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd1="http://www.your-company.com/dieta.xsd1">
            <xsd:complexType name="TipoAlimento">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="descrizione" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nome" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="grassi" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="proteine" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="carboidrati" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TipoDieta">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="dataInserimento" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="dataScadenza" type="xsd:date"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="info" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nome" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="kcal" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="idUtente" type="xsd:int"/>
                    <xsd:element
                        maxOccurs="unbounded"
                        minOccurs="1"
                        name="alimenti"
                        type="xsd1:TipoAlimento"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetDietaPerUtenteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="dieta" type="xsd1:TipoDieta"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetDietaPerUtenteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="idUtente" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetDietaPerUtenteRequest">
        <wsdl:part
            element="xsd1:GetDietaPerUtenteRequest"
            name="GetDietaPerUtenteRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDietaPerUtenteResponse">
        <wsdl:part
            element="xsd1:GetDietaPerUtenteResponse"
            name="GetDietaPerUtenteResponse"/>
    </wsdl:message>
    <wsdl:portType name="dietaPortType">
        <wsdl:operation name="getDietaPerUtente">
            <wsdl:input message="tns:GetDietaPerUtenteRequest"/>
            <wsdl:output message="tns:GetDietaPerUtenteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="dietaBinding" type="tns:dietaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDietaPerUtente">
            <soap:operation/>
            <wsdl:input>
                <soap:body parts="GetDietaPerUtenteRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetDietaPerUtenteResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="dieta">
        <wsdl:port binding="tns:dietaBinding" name="dietaPort">
            <soap:address location="http://localhost:8080/ccx/dieta"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>